.form-control {
  margin: 1rem 0;
}

.form-control label {
  font-weight: 600;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  border-radius: 7px;
  padding: 8px 12px;
}

.form-control input,
.form-control textarea {
  border: 1px solid #b9b9b9;
  font: inherit;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: 0.5px solid #6bb556;
}
