.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input {
  border: 0.5px solid #a1a1a1;
  font: inherit;
  border-radius: 10px;

  padding: 8px 8px;
}

.form-control input:focus {
  outline: 0.5px solid #4f9d4d;
}
