@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

*:focus {
  outline: 2px solid #6bb556;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  color: #333;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #4f9d4d;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: #fff;

  padding: 4px 8px;
  border-radius: 4px;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffc96b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  overflow: hidden;
}
.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
  height: 300px;

  overflow: hidden;
  display: flex;
  align-items: center;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem 0;
}

.card__header,
.card__content,
.card__actions {
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  font: inherit;
  font-weight: 600;
  border: none;
  background: #6bb556;

  color: #fff;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px 12px;
}

.btn:hover,
.btn:active {
  color: white;
  background-color: #4f9d4d;
}
