body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;

  font-family: sans-serif;
  color: #333;
}

main {
  padding: 1rem;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #4f9d4d;

  padding: 0 1.5rem;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 1rem;
}

.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffc96b;
}

button {
  font: inherit;
  border: 1px solid #4f9d4d;
  color: #fff;

  background: #4f9d4d;
  border-radius: 3px;

  cursor: pointer;

  transition: all 0.4s;
}

button:hover,
button:active {
  border: 1px solid #6bb556;
  background-color: #6bb556;
}
