.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
}

.product-item {
  width: 19rem;
  max-width: 95%;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  font-size: 1rem;
  text-align: center;
  color: #4d4d4d;
}
